<link rel="stylesheet" href="/css/starability.css">
<form>
  <fieldset class="starability-basic">
    <legend>Rating</legend>
    <input type="radio" id="rate5" name="review[rating]" value="5" />
    <label for="rate5" title="Amazing">5 stars</label>

    <input type="radio" id="rate4" name="review[rating]" value="4" />
    <label for="rate4" title="Very good">4 stars</label>

    <input type="radio" id="rate3" name="review[rating]" value="3" />
    <label for="rate3" title="Average">3 stars</label>

    <input type="radio" id="rate2" name="review[rating]" value="2" />
    <label for="rate2" title="Not good">2 stars</label>

    <input type="radio" id="rate1" name="review[rating]" value="1" />
    <label for="rate1" title="Terrible">1 star</label>
  </fieldset>
</form>
